body {
    background-color: lightcoral;
}

h1 {
    color: darkcyan;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    background-color: darksalmon;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}